/*
 * Stylesheet for the front page, mostly the demo form.
 */

div.gravatar img {
  padding: 2px;
  border: 1px solid lightgray;
  float: left;
  margin: 1em;
}

ul, li, div.message, blockquote {
  list-style: none;
  display: inline;
}

hr {
  clear: both;
  margin: 1em;
  color: lightgray;
}
