<hr />
<div class="alert issues_comment"><div class="body">
<span class="mini-icon issue-comment"></span>

<div class="title">
  <a href="/{{ actor.login }}">{{ actor.login }}</a>
  <span>commented</span> on
  <a href="https://github.com/bslatkin/clip-it-good/issues/3#issuecomment-1598922" title="Bumped version number">pull request 3</a> on <a href="/{{ repo.name }}">{{ repo.name }}</a>
  <time>March 31, 2011</time>
</div>

<div class="details">
  <div class="gravatar"><img height="30" src="https://secure.gravatar.com/avatar/{{ actor.gravatar_id }}?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" width="30" /></div>
  <div class="message">
    <blockquote title="thanks">
      <p>thanks</p>
    </blockquote>
  </div>
</div>
</div></div>
