<hr />
<div class="alert watch_started"><div class="body">
<span class="mini-icon pull"></span>

<div class="title">
  <a href="/{{ actor.login }}">{{ actor.login }}</a> <span>opened</span> <a href="https://github.com/anvie/SoyTemplate/pull/2">pull request 2</a> on <a href="/anvie/SoyTemplate">anvie/SoyTemplate</a>
  <time>March 31, 2011</time>
</div>
<div class="details">
  <div class="gravatar"><img height="30" src="https://secure.gravatar.com/avatar/{{ actor.gravatar_id }}?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" width="30" /></div>
  <div class="message">
    <blockquote>Support for template parameters</blockquote>
    1 commit with
    2 additions and
    2 deletions
  </div>
</div>
</div></div>
