<hr />
<div class="alert watch_started"><div class="body">
<span class="mini-icon fork"></span>

<div class="title">
  <a href="/{{ actor.login }}">{{ actor.login }}</a> <span>forked</span> <a href="/{{ payload.owner.login }}/{{ repo.name }}">{{ payload.owner.login }}/{{ repo.name }}</a>
  <time>March 31, 2011</time>
</div>
<div class="details">
  <div class="gravatar"><img height="30" src="https://secure.gravatar.com/avatar/{{ actor.gravatar_id }}?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" width="30" /></div>
  <div class="message">
    Forked repository is at <a href="https://github.com/{{ repo.name }}">{{ repo.name }}</a>
  </div>
</div>
</div></div>

